*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.mainInfo{
  min-height: calc(100vh - 200px);
  padding: 20px;
}

header {
  padding: 20px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1{
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  gap: 50px;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

#info {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}


.personal-info, .skills {
  flex: 1;
}

.skill-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 20%;
  padding: 40px;
  margin-bottom: 10px;
}

#contact{
  text-align: center;
}
#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact form input,
#contact form textarea{
  margin: 10px 100px;
  width: 50%;
  padding: 10px;
}
#contact form button {
  width: 30%;
  height: 5%;
  border-radius: 5px;
  border: none;
  background-color:#6975E8 ;
  color: white;
  padding: 10px;
  cursor: pointer;
}
button{
  width: 297px;
  height: 66px;
  border-radius: 40px;
  border: none;
  background-color:#333333 ;
  color: white;
  padding: 24px 56px 24px 56px;
  cursor: pointer;
}

h1{
  width: 570px;
  height: 148px;
  font-size: 60px;
  margin-bottom: 50px;
}
p{
  width: 497px;
  height: 96px;
  font-size: 24px;
}
.contato{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 45px;
  width: 500px;
}



